
.canvas{
    background-image: url("black-and-white-tube-map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200;
    height: 846.6;

}